<div class="container">
    <h2>Liste des offres</h2>
    
    <!-- Affichage de la liste des offres -->
    <table class="table">
      <thead>
        <tr>
          <th>Titre</th>
          <th>Description</th>
          <th>Compétence Requise</th>
          <th>Durée</th>
          <th>Rémunération</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let offre of offres">
          <td>{{ offre.titre }}</td>
          <td>{{ offre.description }}</td>
          <td>{{ offre.competenceRequise }}</td>
          <td>{{ offre.duree }}</td>
          <td>{{ offre.remuneration }}</td>
          <td>
            <!-- Bouton pour postuler à l'offre -->
            <button (click)="postuler(offre.id)" class="btn btn-primary">Postuler</button>
            <button (click)="ajouterAuxFavoris(offre.id)" class="btn btn-outline-primary">Ajouter aux favoris</button>
          </td>
        </tr>
      </tbody>
    </table>
    
    <!-- Bouton pour accéder à la liste des favoris -->
    <button routerLink="/favoris" class="btn btn-success">Mes favoris</button>
</div>
